{# @var \Setono\SyliusGoogleOptimizePlugin\Model\ExperimentInterface data #}

<ul class="ui bulleted list">
    {% for variant in data.variants %}
        <li>{{ variant }}</li>
    {% endfor %}
</ul>
